@charset "UTF-8";
//========================
//変数定義
//========================

//========================
//フォント
//========================
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

//簡体字
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap");
//タイ
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700;900&display=swap");
//韓国
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

$base-font: sans-serif;
$main-font: "Noto Sans JP", -apple-system, $base-font;
$sub-font: "Oswald", "Noto Sans JP", -apple-system, $base-font;

//簡体字
$cn-font: "Noto Sans SC", -apple-system, $base-font;
//タイ
$th-font: "Noto Sans Thai", -apple-system, $base-font;
//香港
$ko-font: "Noto Sans KR", -apple-system, $base-font;

//========================
//色
//========================
$main-color: #928157;
$pale-color: #ddd8cb;
